{{>layout/header}}


<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성시간</th>
    </tr>
    </thead>
    {{#searchList}}
        <tbody>
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{createdTime}}</td>
        </tr>
        </tbody>
    {{/searchList}}
</table>

<ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{previous}}">Previous</a></li>
    <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{next}}">Next</a></li>

</ul>

{{>search/searchForm}}

{{>layout/footer}}