{{>layout/header}}


<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성시간</th>
    </tr>
    </thead>
{{#boardList}}
    <tbody>
    <tr>
        <th scope="row">{{id}}</th>
        <td><a href="/{{id}}">{{title}}</a></td>
        <td>{{author}}</td>
        <td>{{createdTime}}</td>
    </tr>
    </tbody>
{{/boardList}}
</table>

{{>layout/footer}}