<div class="card" id="comments">
    <div class="card-body">

        <!--댓글입력창-->
        {{>comment/_form}}

        <!--댓글 목록-->
        {{>comment/_list}}
    </div>
</div>

<script src="/js/app/comment.js"></script>